@import 'variables';

@mixin button-theme($color) {
  background-color: $color;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color, 5%);
  }

  &.alt-grouped {
    border-color: darken($color, 5%);
  }
}

.button {
  border: none;
  border-radius: 6px;
  color: $white;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.alt-negative {
    @include button-theme($red)
  }

  &.alt-default {
    @include button-theme(lighten($blue, 5%))
  }

  &.is-disabled {
    background-color: $grey;

    &:hover,
    &:active,
    &:focus {
      background-color: $grey;
      cursor: default;
    }

    &.alt-grouped {
      border-color: darken($grey, 5%);
    }
  }

  &.alt-grouped {
    border-radius: 0;
    border-right: 1px solid;
  }

  &.alt-grouped:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.alt-grouped:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: none;
  }
}
