@import 'variables';

.edge {
  background-color: lighten($grey, 5%);
  border-radius: $edge-thickness / 2;
  pointer-events: all;
  position: absolute;

  &:hover {
    background-color: lighten($blue, 20%);
    cursor: pointer;
  }

  &.alt-active-player-1:hover {
    background-color: lighten($orange, 20%);
  }

  &.is-taken-by-player-0,
  &.is-taken-by-player-0:hover {
    background-color: $blue;
    cursor: default;
  }

  &.is-taken-by-player-1,
  &.is-taken-by-player-1:hover {
    background-color: $orange;
    cursor: default;
  }

  &.alt-top,
  &.alt-bottom {
    height: $edge-thickness;
    left: $edge-thickness;
    right: $edge-thickness;
  }

  &.alt-left,
  &.alt-right {
    bottom: $edge-thickness;
    top: $edge-thickness;
    width: $edge-thickness;
  }

  &.alt-top {
    top: - $edge-thickness / 2;
  }

  &.alt-bottom {
    bottom: - $edge-thickness / 2;
  }

  &.alt-left {
    left: - $edge-thickness / 2;
  }

  &.alt-right {
    right: - $edge-thickness / 2;
  }
}
