html {
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}

.container {
  display: inline-block;
}

.title {
  display: none;
}
