@import 'variables';

.score {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.score--item {
  border-radius: 6px;
  margin-right: 2rem;
  padding: 0.4rem 1rem;

  &:before {
    border-radius: 4px;
    display: inline-block;
    content: '';
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &.alt-player-0:before {
    background-color: $blue;
  }

  &.alt-player-1:before {
    background-color: $orange;
  }

  &.is-active {
    background-color: darken($white, 7%);
  }
}
